name: release
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: List charts
        id: list_charts
        uses: ./.github/actions/list-charts
        with:
          charts_dir: charts

      - name: Lint charts
        id: lint_charts
        uses: ./.github/actions/lint-charts
        with:
          charts_json: ${{ steps.list_charts.outputs.charts }}
          fail_fast: "true"

      - name: Find charts to release
        id: find_charts
        uses: ./.github/actions/find-charts-to-release

      - name: Release charts
        id: release_charts
        uses: ./.github/actions/release-charts


